body {
    background-color:#CCCFCD;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    text-align:center;
}

h2{
    font-family:'Satisfy', cursive;
    font-size:48px;
    text-align: center;
}

.jumbotron{
    background-color:#CCCFCD;
}
#navvy{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #434647;
    background-color: #FFFFFF;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}
#properties{

}
.nav navbar-nav{
    text-align: center;
    
}
.Windows{
    text-align: left;
}
.TopPic{
    height: 432px;
    width: 800px;
    /*position:absolute;*/
}

.VillaMap{
    height: 432px;
    width:700px;
    /*position:absolute;*/  
}

.HowAwayText well-sm{
    font-family: 'Montserrat', sans-serif;
    position:relative;
}
.FindVillaText{
    font-family: 'Montserrat', sans-serif;
    position:relative;
}
.ThingOne{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.Patio1{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.Bedroom{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.Poolside{
    height:348px;
    width:348px;
    /*position: absolute;*/
}
Pooldeck{
    height:348px;
    width:348px;
    /*position:absolute;*/
}

.ThingTwo{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.Patio2{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.ThingThree{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.ThingFour{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.Interior{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.Clients{
    height:348px;
    width:348px;
    /*position:absolute;*/
}
.Partners{
    height:348px;
    width:348px;
    /*position:absolute;*/
}


